@use 'variables';
@use 'sass:map';
%h1{
  font-family: sans-serif;
  padding: 10px;
  font-size: clamp(2.2em, 2.2vw, 2.5em);
  color: map.get(variables.$modo-oscuro, 'texto-primario'); 
  text-wrap: balance;
  margin: 0;
}
%h2{
  padding: 0 10px;
  color: map.get(variables.$modo-oscuro, 'texto-primario');
  font-family: sans-serif;
  font-size: 1.8em; 
  text-transform: capitalize;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-wrap: balance;
}
%h3{
  margin: 0;
  text-wrap: balance;
  color: map.get(variables.$modo-oscuro, 'texto-secundario');
  font-family: sans-serif;
  font-size: 1.8em; 
}
%pUno{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: map.get(variables.$modo-oscuro, 'texto-secundario');
  text-wrap: pretty;
}
%pDos{
  margin: 0;
  color: map.get(variables.$modo-oscuro, 'texto-secundario');
  font-family: sans-serif;
  font-size: 1em; 
  text-wrap: pretty;
}
%pError{
  color: map.get(variables.$modo-oscuro, 'texto-error');
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
%contenedor{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
%btn-primario{
  padding: 10px 30px;
  background-color: map.get(variables.$btn-oscuro, 'bg-primario');
  font-family: sans-serif;
  border-radius: 5px;
  text-transform: capitalize;
  color: map.get(variables.$btn-oscuro, 'texto-primario');
  text-decoration: none;
  
}
%boxShadow{
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.68);
}


