@use '../models/index';
@use 'sass:map';


.contacto{
  padding-top: 120px;
  width: 100dvw;
  h2{
    @extend %h2;
  }
  &__container{
    @extend %contenedor;
  }
  &__descripcion{
    text-align: center;
    width: clamp(300px, 90%, 700px);
    margin: auto;
    display: grid;
    gap: 20px;
  }
  p{
    @extend %pUno;
    
  }
}

.formulario{
  margin: 50px 0;
  font-size: 16px;
  h3 {
    @extend %h3;
    text-align: center;
    text-transform: capitalize;
  }
  &__container{
    max-width: 500px;
    margin: 50px auto;
 } 
  &__campos,&__textarea{
    margin-bottom: 20px;
    
    .formulario__parrafo-error{
      @extend %pError;
      text-align: end;
      padding: 10px 0;
      display: none;
      transition: display .3s ease-in;
      &--activo{
        display: block;
      }
    }
  }

  label{
  @extend %pUno;
  display: block;
  padding-bottom: 10px;
  text-transform: capitalize;
  cursor: pointer;
  }

  &__inputs{
    position: relative;
    top: 0;
    width: 100%;
    input{
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: index.$bg-input;
    border: none;
    border-bottom: 5px solid map.get(index.$modo-oscuro, 'texto-primario');
    color: map.get(index.$modo-oscuro, 'texto-primario');
    text-transform: capitalize;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    i{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2em;
      z-index: 10;
      color: map.get(index.$modo-oscuro, 'texto-success');
      transition: opacity .3s ease-in;
      opacity: 0;
    }
  }

  input::placeholder,textarea::placeholder{
    color: map.get(index.$modo-oscuro, 'texto-secundario');
  }
  
  &__textarea{
    width: 100%;
    display: grid;
    textarea{
      padding: 10px;
      width: inherit;
      height: 80px;
      resize: none;
      border: none;
      background-color: index.$bg-input;
      border-bottom: 5px solid map.get(index.$modo-oscuro, 'texto-primario');
      color: map.get(index.$modo-oscuro, 'texto-secundario');
      outline: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
  }

  //mensaje de error y de exito
  
  &__mensaje-error{
    background-color: map.get(index.$modo-oscuro, 'bg-card');
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: display .3s ease-in;
    &--activo{
      display: flex;
    }
    p{
      color: map.get(index.$modo-oscuro, 'texto-error');
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
  &__mensaje{
    padding-top: 10px;
    button{
      padding: 10px 20px;
      border-radius: 5px;
      color: map.get(index.$btn-oscuro, 'texto-primario');;
      border: none;
      margin: 20px 0;
      text-transform: capitalize;
      font-family: Verdana, sans-serif;
      cursor: pointer;
      transition: all .3s ease-in;
      &:hover{
        background-color: map.get(index.$btn-oscuro, 'bg-hover');
        color: map.get(index.$btn-oscuro, 'txt-hover');;
      }
    }
    p{
      color: map.get(index.$modo-oscuro, 'texto-success');
      text-transform: capitalize;
      font-weight: bold;
      text-align: center;
    }
    &-enviado{
      background-color: map.get(index.$modo-oscuro, 'bg-card');
      padding: 10px;
      text-transform: capitalize;
      display: none;
      &--activo{
        display: block;
      }
    }
  }
}