@use '../models/index';
@use 'sass:map';


.conocimiento{
  padding-top: 120px;
  width: 100%;
  font-size: 18px;

  h2{
    @extend %h2;
    
  }
  &__container{
    background-color: map.get(index.$modo-oscuro, 'bg-primario');
    @extend %contenedor;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  &__item{
    @extend %boxShadow;
    flex: 1 1 400px;
    
    @include index.media(tablet){
      display: flex;
      flex: 1 1 350px;
    }
    @include index.media(desktop-m){
      flex-basis: 500px;
    }
    @include index.media(desktop-l){
      flex-basis: 600px;
    }
  }

  &__img{
    @include index.media(tablet){
      width: 100%;
      img{
        width: inherit;
        height: 100%;
        object-fit: cover;
      }
    }
    
  }
  
  &__descripcion{
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 { 
      @extend %h3;
    }
    @include index.media(tablet){
      width: 100%;
      padding-right: 40px;
    }
    
  }
  &__bootcamp{
    margin: 20px 0;
    span{
      display: inline-block;
      @extend %pUno;
      text-transform: capitalize;
      font-size: 1.2em;
    }
    p{
      margin-bottom: 10px;
      font-size: 1.4em;
      @extend %pDos;
      padding-top: 5px;
      text-transform: capitalize;
      font-weight: 800;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  &__calificacion{
    margin-bottom: 20px;
    span{
      color: #d7e60c;
      font-size: 1.5em;
      margin-right: 10px;
    }
  }

  &__btn-primario{
    margin: 20px 0;
    text-align: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      @extend %pUno;
      color: map.get(index.$btn-oscuro, 'texto-primario');
      text-decoration: none;

    }
    i{
      font-size: 1.6em;
    }
  }
  p{
    @extend %pDos;
  }
}



//pendiente el proceso 


.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  width: 100dvw;
  height: 100vh;
  background-color: #7879736b;
  display: flex;
  transform: scale(0);
  flex-direction: column;
  align-items: center;
  &__contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: auto;
    margin: auto;
  }
  &__botones{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
      font-size: 40px;
      color: map.get(index.$modo-oscuro, 'texto-primario');
    }
  }
  &__img{
    width: 100%;
    max-height: 80dvh;
    margin-top: 50px;
    img{
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }
}