@use '../models/index';
@use 'sass:map';


.proyectos {
  padding-top: 120px;
  height: auto;
  font-size: 16px;
  text-align: center;
  &__contenido{
    @extend %contenedor;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

  }
  &__card{
    width: clamp(300px, 100%, 420px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    @extend %boxShadow;
    background-color: map.get(index.$modo-oscuro, 'bg-card');
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &__img{
    width: 100%;
    height: 250px;
    img{
      width: inherit;
      height: inherit;
      object-fit: cover
    }
  }
  
  &__descripcion{
    display: grid;
    gap: 25px;
    padding: 25px;
    ul{
      display: flex;
      justify-content: space-between;
      padding: 0;
      list-style: none;
      li{
        width: 20%;
        height: 50px;
      }
      img{
        width: 100%;
        height: inherit;
        object-fit: contain
      }
    }
  }
  h3{
    @extend %h3;
    text-transform: uppercase;
  }
  p{
    @extend %pDos;
    line-height: 25px;
  }
  span{
    color: map.get(index.$modo-oscuro, 'texto-primario'); 
    text-transform: capitalize;
    font-family: sans-serif;
  }
  &__btn-primario{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    &--on{
      display: inline-block;
      @extend %btn-primario;
      border: none;
    } 
  }
}
.btn-primario--disable{
  background-color: map.get(index.$btn-oscuro, 'bg-disable');
  color: map.get(index.$btn-oscuro, 'txt-disable');
  border: none;
}


.titulo-separador{
  display: grid;
  gap: 20px;
  margin: 100px 0;
  h2,h3{
    @extend %h2;
    margin: 0;
    text-wrap: balance;
  }
}