footer.footer 
  .footer__img 
    img(src="../assets/img/imagenes/img-01.jpg", alt="Imagen del perdil del portafolio", srcset="")
  .footer__bg 
    .footer__container 
      +footerContenido
  .footer__creditos
    p todos los derechos reservados
    p 
      span diseño por: 
      span YersonSerpa
    
