// Variables Navar
- var title__navar = ['inicio', 'proyectos', 'certificados', 'contacto'];
- var nombres = 'Yerson Andres Chogo Serpa';
- var nombresEmpresaProyectos = ['ridersoft', 'phone center', 'droid cel'];
- var tituloSeparador = ['Proyectos realizados y tecnologías usadas', 'cursos realizados y certificados' , ' stack dominados', ' Formulario de contacto']
- var imagenesIcon = ['../assets/img/logos/css.png', '../assets/img/logos/figma.png','../assets/img/logos/html.png','../assets/img/logos/sass.png', '../assets/img/logos/js.png'];
- var cursos = ' Curso UX UI Design + Diseño Web y Mobile'
-var academia = ['udemy','platzi']
-var instructor = ['Javier Canias','Yerson Serpa']
- var level = ['bajo', 'intermedio','avanzado']
- var stacks = ['HTML', 'CSS','JavaScript','SASS','PUG','Figma','Node.JS']
- var links = ["#inicio",'#proyectos','#certificados','#contacto']