extend componentes/plantilla.pug
block contenido
  section.bienvenida
    .bienvenida__contenido
      h2 te doy la bienvenida a mi portafolio de servicios 
      span(class='bx bxs-pointer')
      p A continuación te presento la gama de servicios que puedo ofrecer. También te especifico las tecnologías que actualmente domino y en la cual desarrollo mis proyectos
  main.proyectos(id='proyectos')
    h2=tituloSeparador[0]
    .proyectos__contenido
      +card-uno('../assets/img/imagenes/img-02.jpg', nombresEmpresaProyectos[0], 'Es una empresa tecnológica que ofrece un Servicio Técnico en el área de sistemas. en esta pagina podemos observar datos de la empresa y sus servicios al igual que puedes contactar por algún servicio.', 'https://dashing-gumdrop-c31117.netlify.app/','_blank', 'proyectos__btn-primario--on' , 'ir a la pagina')
      +card-uno('../assets/img/imagenes/img-08.jpg', nombresEmpresaProyectos[1], 'Empresa enfocada en su excelente servicio en micrielectronica brindando una solucion tanto efectiva como futurista como su lema los representa "the furure is now"; ademas de brindar un excelente servicio al cliente.', '#proyectos','_self' , 'proyectos__btn-primario--on btn-primario--disable', 'en proceso')
  section.conocimiento(id='certificados')

    h2=tituloSeparador[1]
    .conocimiento__container
      +caja-dos('../assets/img/imagenes/img-04.jpg', 'Curso UX UI Design + Diseño Web y Mobile',academia[0],instructor[0],'Este curso es perfecto para aquellos que desean adquirir habilidades de diseño UX/UI para crear productos y servicios innovadores, y convertirse en un diseñador UX/UI profesiona')
      +caja-dos('../assets/img/imagenes/img-05.jpg', 'Aprende Sass Desde Cero y descubre el potencial para mejorar tu código CSS.',academia[0],instructor[0],'Este curso en su mayoría es teórico ya que nos concentraremos en todas las funcionalidades de Sass.')
      +caja-dos('../assets/img/imagenes/img-06.jpg', 'React desde cero: Hooks y State hasta TypeScript, Zod, Zustand, React Query, Next.js, React Router, MERN y PERN',academia[0],instructor[0],'El único curso en Udemy que enseña React con proyectos del mundo real; Incluso si tus bases de JavaScript no son muy fuertes el curso tiene una introducción con todo lo que debes saber.')
      +caja-dos('../assets/img/imagenes/img-07.jpg', 'Aprende el Lenguaje de Programación Web más popular paso a paso con +20 Proyectos - Incluye Proyecto MERN Full Stack',academia[0],instructor[0],'El curso incluye la Sintaxis de ECMAScript ES6, ES7, ES8, ES9, ES10, ES11 y ES12 o también conocida como JavaScript Moderno.')
  section.stacks
    h2=tituloSeparador[2]
    .stacks__container 
      +stacks('../assets/img/logos/html.png',stacks[0],level[2],'Manejo un nivel avanzado en este lenguaje; tambien trabajo con metodologia BEM para un codigo mas limpio y legible.')
      +stacks('../assets/img/logos/css.png',stacks[1],level[2],'Con este lenguaje manejo a la perfecciio tanto flexbox como CSS Grid; tambien se usar animaciones simples y con scroll y mucho mas.')
      +stacks('../assets/img/logos/js.png',stacks[2],level[1],'Este lenguaje de programacion aun lo sigo estudiando hasta perfeccionarlor.')
      +stacks('../assets/img/logos/sass.png',stacks[3],level[2],'Este lenguaje es un complemento excelente para usar css en un nivel mas avanzado.')
      +stacks('../assets/img/logos/pug.png',stacks[4],level[2],'Uso PUG para crear componentes y reemplazarlo por HTML5 al ser mas ordenado.')
      +stacks('../assets/img/logos/figma.png',stacks[5],level[2],'Recientemente termine un curso y ya la domino en un nivel avanzado.')
      +stacks('../assets/img/logos/node.png',stacks[6],level[1],'Con NODEJS lo uso para la compilaciones de pug y sass.')
  section.contacto(id='contacto')
    h2=tituloSeparador[3]
    .contacto__container 
      .contacto__descripcion 
        p  Escribe tus datos y en breves instantes te contactare
        p llena tus datos en el siguente formulario para poder contactarme y poder brindarte un servicio de la mejor calidad.
      form.formulario
        h3 datos contacto
        .formulario__container 
          +formulario('nombre','nombre completo','text','nombre','yerson andres chogo')
          +formulario('correo','correo electronico','email','correo','yerson@mail.com')
          +formulario('numero','numero celular','number','numero','302-434-8765')
          .formulario__textarea 
            label(for="mensaje") dejame tu mensaje 
            textarea(id='mensaje' placeholder='un mensade de maximo 100 caracteres')
          .formulario__btn 
            button enviar datos


